<div class="container">

   <div class="row">
      <h1>{{title}}</h1>
   </div>

   <div align="right">
      <font color="brown">
         <em>
            Time :{{time|async}}
         </em>
      </font>
   </div>



   <div class="jumbotron">

      Search Text :<input type="text" [(ngModel)]="searchText">

      <br /><br />

      Select Number of rows :<input type="number" min="1" max="{{employees.length}}" [(ngModel)]="rows" />


      <table class="table table-striped table-hover">
         <thead>
            <tr>
               <th (click)="sort('id')">ID</th>
               <th (click)="sort('name')">NAME</th>
               <th (click)="sort('salary')">SALARY AS NUMBER</th>
               <th (click)="sort('salary')">SALARY AS CURRENCY</th>

               <th (click)="sort('variable')">VARIABLE</th>
               <th (click)="sort('doj')">DOJ</th>
               <th (click)="sort('gender')">GENDER</th>
               <th (click)="sort('city')">CITY</th>
               <th (click)="sort('pan')">PAN</th>
               <th (click)="sort('mobile')">MOBILE</th>
               <th (click)="sort('isMarried')">IS MARRIED</th>
            </tr>
         </thead>
         <tbody>

            <tr *ngFor="let e of employees|slice:0:rows|orderBy:sortColumn:descending|filter:searchText">
               <td>{{e.id}}</td>
               <td>{{e.name|titlecase}}</td>
               <td>{{e.salary|number:'9.2-2'}}</td>
               <td>{{e.salary|currency:'INR'}}</td>

               <td>{{e.variable|percent}}</td>
               <td>{{e.doj|date:'dd-MMM-yyyy'}}</td>
               <td>{{e.gender|gender}}</td>
               <td>{{e.city|lowercase}}</td>
               <td>{{e.pan|uppercase|slice:0:2}}XXXXXX{{e.pan|uppercase|slice:8:10}}</td>
               <td>XXXXXX{{e.mobile|slice:8:10}}</td>
               <td>{{e.isMarried}}</td>
            </tr>

         </tbody>
      </table>





   </div>



</div>