<p>users works!</p> 
<router-outlet></router-outlet> 

<div class="jumbotron" *ngIf = "user"> 
    <div> 
        <h2> {{title}} </h2> 
    </div> 
    <div> 
        <table class = "table table-hover table-striped table-responsive"> 
            <thead> 
                <tr>
                    <th>USER ID</th> 
                    <th>NAME</th> 
                    <th>EMAIL</th> 
                    <th>CITY</th> 
                    <th>COMPANY</th> 
                    <th>VIEW POSTS</th> 
                    <th>VIEW TODOS</th> 
                    <th>VIEW ALBUMS<th> 
                </tr> 
            </thead> 
            <tbody>
                <tr> 
                    <td>{{user.id}}</td> 
                    <td>{{user.name}}</td> 
                    <td>{{user.email}}</td> 
                    <td>{{user.address.city}}</td> 
                    <td>{{user.company.name}}</td> 
                    
                    <td> <a  [routerLink] = "['/casestudy/posts']"   [queryParams] = "{'userId':user.id}" > <input type = "button"  value = "VIEW POSTS" class = "btn btn-success"> </a></td> 
                    <td> <a  [routerLink] = "['/casestudy/todos']"   [queryParams] = "{'userId':user.id}" > <input type = "button"  value = "VIEW TODOS" class = "btn btn-primary"> </a></td> 
                    <td> <a  [routerLink] = "['/casestudy/albums']"  [queryParams] = "{'userId':user.id}" > <input type = "button"  value = "VIEW ALBUMS" class = "btn btn-info"> </a></td> 
                </tr> 
            </tbody> 
        </table> 
    </div> 
</div> 