<p>photos works!</p> 
<hr/> 

<div class="jumbotron"> 
    <div> 
        <h2> {{title}} </h2> 
    </div> 
    <div> 
        <div>
            
        <div>
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

        <table class = "table table-hover table-striped table-responsive"> 
            <thead> 
                <tr>
                    <th>ALBUM ID</th> 
                    <th>ID</th> 
                    <th>TITLE</th> 
                    <th>URL</th> 
                    <th>THUMBNAIL</th> 
                </tr> 
            </thead> 
            <tbody>
                <tr *ngFor = "let ph of pagedItems"> 
                    <td>{{ph.albumId}}</td> 
                    <td>{{ph.id}}</td> 
                    <td>{{ph.title}}</td> 
                    <td>{{ph.url}}</td> 
                    <td><img [src] = "ph.thumbnailUrl" width = "150" height = "150" alt = ""></td> 
                </tr> 
            </tbody> 
        </table> 
    </div> 
</div> 
