<p>comments works!</p> 
<hr/> 

<div class="jumbotron"> 
    <div> 
        <h2> {{title}} </h2> 
    </div> 
    <div> 
        <table class = "table table-hover table-striped table-responsive"> 
            <thead> 
                <tr>
                    <th>POST ID</th> 
                    <th>ID</th> 
                    <th>NAME</th> 
                    <th>EMAIL</th> 
                    <th>BODY</th> 
                </tr> 
            </thead> 
            <tbody>
                <tr *ngFor = "let c of comments"> 
                    <td>{{c.postId}}</td> 
                    <td>{{c.id}}</td> 
                    <td>{{c.name}}</td> 
                    <td>{{c.email}}</td> 
                    <td>{{c.body}}</td> 
                </tr> 
            </tbody> 
        </table> 
    </div> 
</div> 
